<!DOCTYPE HTML>
<html lang="zh-TW">
	<head>
		<title>線上訂房|</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}" />
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="{{ url_for('index') }}">線上訂房系統</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="{{ url_for('index') }}">首頁</a></li>
							<li>
								<a href="#" class="icon solid fa-angle-down"></a>
								<ul>
									<li><a href="#booking">立即訂房</a></li>
									<li><a href="{{ url_for('search') }}">查詢修改訂房</a></li>
									<li><a href="{{ url_for('room') }}">查看所有房型</a></li>
								</ul>
							</li>
							<li><a href='{{ url_for("Adminlogin") }}' class="button">管理者登入</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2>-線上訂房-</h2>
					<!-- <p>Another fine responsive site template freebie by HTML5 UP.</p> -->
					<ul class="actions special">
						<li><a href="#booking" class="button primary">立刻訂房</a></li>
						<li><a href="{{ url_for('search') }}" class="button">查詢修改訂房</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>-線上訂房系統-</h2>
							<a href="{{ url_for('room') }}" class="button">查看所有房型</a>
						</header>
						<span class="image featured"><img src="static\css\images\room1.jpg" alt="房間" /></span>
					</section>

			<!-- CTA -->
            <section id="cta" class="container">
                <a name="booking" id="booking"></a>
                    <header class="major2">
                        <br>
                        <h2>進行訂房</h2>
                        <br>
                        <div class="row gtr-50 gtr-uniform">
						<form action="/" method="post">
                            <div>
                                <select name="roomtype" id="roomtype">
                                    <option>請選擇房型</option>
                                    <option value="單人房">單人房</option>
                                    <option value="雙人房">雙人房</option>
                                    <option value="四人房">四人房</option>
                                </select>
								<input type="text" name="uname" id="uname" value="" placeholder="姓名" />
								<input type="text" name="uphone" id="uphone" value="" placeholder="電話(ex: 09xxxxxxxx)" />
								<input type="text" name="mail" id="mail" value="" placeholder="電子郵件(ex: example@gmail.com)" />
							<br>
                            <div class="col-6 col-12-mobilep">
                                <input type="date" name="bookdate" id="bookdate" value="{{min}}" min="{{min}}">
								<span>~</span>
                                <input type="date" name="bookEndDate" id="bookEndDate" value="{{min}}" min="{{min}}">
                            </div>
							<br>
                                <div class="col-12">
									<ul class="actions special">
										<input type="reset" value="清除重填">
										<input type="submit" value="送出">
									</ul>
								</div>
							</form>
                        </div>
                    </header>

            </section>


			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; All rights reserved.</li><li>Design: </li>
				</ul>
			</footer>

		</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename= 'js/jquery.dropotron.min.js') }}"></script>
			<script src="{{ url_for('static', filename= 'js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename= 'js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename= 'js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename= 'js/util.js') }}"></script>
			<script src="{{ url_for('static', filename= 'js/main.js') }}"></script>

	</body>
</html>