{% extends 'ModifyBase.html' %}

{% block title %}訂房資料修改系統{% endblock  %}

{% block table %}訂房資料修改{% endblock  %}

{% block Box %}
	<div class="row">
		<div class="col-12">

			<!-- Table -->
				<section class="box">
					<h3>修改訂單資料</h3>

					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th><h4>姓名</h4></th>
									<th><h4>開始日期</h4></th>
									<th><h4>結束日期</h4></th>
									<th><h4>電話</h4></th>
									<th><h4>房型</h4></th>
								</tr>

							</thead>
							<form action="/modify" method="post">
								<tbody>
									{% if DBfatch %}
										{% for record in DBfatch %}
											<tr>
												<td><p>{{record[1]}}</p></td>
												<td><input type="date" name="bookdate" id="bookdate" value="{{ record[2] }}" min="{{min}}"></td>
												<td><input type="date" name="bookEndDate" id="bookEndDate" value="{{ record[3] }}" min="{{min}}"></td>
												<td><p>{{record[4]}}</p></td>
												<td><select name="roomtype" id="roomtype">
														<option value="單人房" {% if record[5] == '單人房' %}selected{% endif %}>單人房</option>
														<option value="雙人房" {% if record[5] == '雙人房' %}selected{% endif %}>雙人房</option>
														<option value="四人房" {% if record[5] == '四人房' %}selected{% endif %}>四人房</option>
													</select>
												</td>
												<input type="hidden" name="id" value="{{ record[0] }}">
												<td><input type="submit" value="送出"></td>
											</tr>
										{% endfor %}
									{% else %}
										<tr>
											<td colspan="5">沒有查詢到資料</td>
										</tr>
									{% endif %}
								</tbody>
							</form>
						</table>
						<ul class="actions special">
							<li><a href="{{ url_for('index') }}" class="button primary">回首頁</a></li>
						</ul>
					</div>
				</section>
		</div>
	</div>

{% endblock %}