{% extends 'ModifyBase.html' %}

{% block title %}訂房資料修改系統{% endblock  %}

{% block table %}訂房資料修改{% endblock  %}

{% block Post %}<form action="/modify" method="post">{% endblock  %}

{% block Box %}
	<div class="row">
		<div class="col-12">

			<!-- Table -->
				
				<section class="box">
					<h3>修改訂單資料</h3>

					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th><h4>姓名</h4></th>
									<th><h4>日期</h4></th>
									<th><h4>電話</h4></th>
									<th><h4>房型</h4></th>
								</tr>
							</thead>

								<tbody>
									{% if DBfatch %}
										{% for record in DBfatch %}
											<tr>
												<td>{{ record[1] }}</td>
												<td>{{ record[2] }}</td>
												<td>{{ record[3] }}</td>
												<td>{{ record[4] }}</td>
												<td>{{ record[5] }}</td>
											</tr>
										{% endfor %}
									{% else %}
										<tr>
											<td colspan="5">沒有查詢到資料</td>
										</tr>
									{% endif %}
								</tbody>

						</table>
						<ul class="actions special">
							<li><a href="{{ url_for('index') }}" class="button primary">回首頁</a></li>
						</ul>
					</div>
				</section>
		</div>
	</div>
</form>
{% endblock %}